nav{
    float: left;
    font-size: 12px;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav>ul>li{
    float: left;
    padding: 10px 5px;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    
}

nav>ul>li>a:hover{
    border-bottom: 5px solid #bf1e2e;
    transition: 0.1s;
    -ms-transition: 0.1s;
    
}

nav>ul>li>ul{
    display: none;
    position: absolute;
    background: #f6f6f6;
    width: 450px;
    z-index: 1000;
    top: 65px;
/*    left: 405px;*/
/*    left: 30%;*/
    text-align: left;
    box-shadow: 1px 2px 5px #888888;
	-moz-box-shadow:box-shadow: 1px 2px 5px #888888;
	-webkit-box-shadow: 1px 2px 5px #888888;
	-o-box-shadow: 1px 2px 5px #888888;
	-ms-box-shadow: 1px 2px 5px #888888;
}

nav>ul>li:hover > ul{
    display: block;
}

nav>ul>li>ul>li a{
    display: block;
/*    border-bottom: 1px ;*/
}

nav ul li>ul>li a:hover{
    border-left: 5px solid #d4d4d4;
    transition: 0.1s;
    font-weight: bold;
    background: #ededed;
/*    text-decoration: underline;*/
/*    border-top:1px solid #888888;*/
/*    border-bottom: 1px solid #888888;*/
    opacity:0.9;
}

img-menu{
    position: absolute;
    right: 0px;
    z-index: 90;
}
