.user_image{
	width: 62px;
	height: 62px;
}

/*Style for Photo Library Modal*/
.modal-dialog{
	width:50%
}
.img-thumbnail{
	max-width: 120px;
	max-width: 120px;
}

.modal_thumbnails{
	max-width: 120px;
	max-width: 120px;
}

.width-haft{
	width:50%;
}

.width-30{
	width: 30%
}

.file{
	height: 150px;
}

.form_error{
	color: red;
	font-weight: bold;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.add{
	padding: 5%
}

hr{
    margin:5px 0;
}

.center{
    text-align: center;
}

.font{
    font-size: 12px;
}

.label{
    font-size: 11px;
}

.property-display{
    height: 380px;
}