<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Expression Math</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body>
    <div>
        <label for="firstNumber">First number:</label>
        <input type="number" ng-model="num1"><br>
        <label for="secondNumber">Second number:</label>
        <input type="number" ng-model="num2">
        <hr>
        <h4>Sum: {{num1 + num2}}</h4>
        <h4>Product: {{num1 * num2}}</h4>
    </div>
</body>
</html>