@charset "utf-8";
/* CSS Document */

table.altrowstable {
	font-family:"Kh Battambang";
	border-width: 2px;
	border-color: #FFFFFF;
	border-collapse: collapse;
}
table.altrowstable th {
	font-size:17px;
	border-width: 2px;
	padding: 8px;
	border-style: solid;
	border-color: #FFFFFF;
	background:#09F;
	color:#FFF}
	
table.altrowstable td {
	border-width: 2px;
	padding: 8px 10px;
	border-style: solid;
	border-color: #FFFFFF;}
	
.oddrowcolor{
	background-color:#d3dce3;
}
.evenrowcolor{
	background-color:#e5e5e5;
}

table.altrowstable tr:hover{
	background:#09F;
	color:#FFF}
