@charset "utf-8";
/* Textbox */

.txtbox{
	font-family:"Kh Battambang";
	font-size:14px;
			
	padding:5px 9px;
	height:23px;
	border:1px solid #a4c3ca;
	box-shadow: 0.5px 0.5px 5px #F3F3F3;}

.txtbox:focus{
	box-shadow: 0.5px 0.5px 5px #CCC inset;}		
	
.select{
	width:170px;
	font-family:"Kh Battambang";
	font-size:14px;
	border:1px solid #a4c3ca;
	box-shadow: 0.5px 0.5px 5px #F3F3F3;}

.select:focus{
	box-shadow: 0.5px 0.5px 5px #CCC inset;}	