@charset "utf-8";
/* CSS Document */

.tooltip{position:absolute; visibility:hidden; border-radius:5px;	-moz-border-radius:5px;
	-webkit-border-radius:5px;background:#09F;
	color:#FFF; padding:3px 10px}